<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | ITShelf.com</title>
    <link rel="stylesheet" th:href="@{/css/itshelf-style.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#373f50">
    <meta name="msapplication-TileColor" content="#373f50">
    <meta name="theme-color" content="#373f50">
</head>
<body>

<p>Admin</p>

<p th:text="${adminEventListViewModel.getUsername()}"></p>

<div class="row mx-n2 pt-2">

    <!--/* Number of events */-->
    <div class="col-md-4 col-sm-6 px-2 mb-4">
        <div class="bg-secondary h-100 rounded-lg p-4 text-center">
            <h3 class="font-size-sm text-muted">Number of events</h3>
            <p th:text="'Upcoming: ' + ${adminEventListViewModel.getEventQualityStats().getNumberOfUpcomingEvents()}"></p>
            <p th:text="'All: ' + ${adminEventListViewModel.getEventQualityStats().getNumberOfAllEvents()}"></p>
        </div>
    </div>

    <!--/* Content quality */-->
    <div class="col-md-4 col-sm-6 px-2 mb-4">
        <div class="bg-secondary h-100 rounded-lg p-4 text-center">
            <h3 class="font-size-sm text-muted">Content quality</h3>
            <p th:text="'of ' + ${adminEventListViewModel.getEventQualityStats().getNumberOfUpcomingEvents()} + ' upcoming events'"></p>
            <p class="mb-0 badge badge-primary"
               th:text="${'Bad: ' + adminEventListViewModel.getEventQualityStats().getBad()}"></p><br/>
            <p class="mb-0 badge badge-success"
               th:text="${'Good: ' + adminEventListViewModel.getEventQualityStats().getGood()}"></p>
        </div>
    </div>

    <!--/* Images */-->
    <div class="col-md-4 col-sm-12 px-2 mb-4">
        <div class="bg-secondary h-100 rounded-lg p-4 text-center">
            <h3 class="font-size-sm text-muted">Number of upcoming events with broken images</h3>
            <p class="h2 mb-2" id="events-broken-images">0</p>
        </div>
    </div>
</div>

<a class="btn btn-info mt-3 mt-sm-0" style="width:200px;margin-left: auto" th:href="@{'/admin/events/new'}">Add new event</a>

<!--/* List of events */-->
<table class="table table-fixed font-size-sm mb-0 datatable"> <!--/* //NOSONAR */-->
    <thead>
    <tr>
        <th scope="col" style="width: 5%">ID</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Content</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event:${adminEventListViewModel.getEvents()}">
        <td th:text="${event.getEvent().getId()}"></td>
        <td>
            <i aria-hidden="true" class="czi-close" style="color:#dc3545;">X</i>
            <p th:text="${event.getEvent().getImage()}" th:attr="upcoming=${event.isUpcoming()}"
               class="image-url d-none"></p>
            <img th:src="*{event.getEvent().getImage()}" alt="Event Logo" style="max-height: 113px;"/>
        </td>
        <td th:text="${event.getEvent().getName()}"></td>
        <td>
            <span th:if="${event.getNumberOfWords()< 150}" class="badge badge-primary"
                  th:text="${event.getNumberOfWords()}">Primary</span>
            <span th:if="${event.getNumberOfWords()>= 150 }" class="badge badge-success"
                  th:text="${event.getNumberOfWords()}">Primary</span>
        </td>

        <td th:text="${event.getEvent().getDateFrom()}"></td>
        <td><a target="_blank" th:href="@{ ${'/admin/events/' + event.getEvent().getId()} }"
               class="btn btn-info mt-3 mt-sm-0">Edit</a></td>
    </tr>
    </tbody>
</table>

<script th:src="@{https://code.jquery.com/jquery-3.5.1.js}"></script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/tiny-slider.min.js}"></script>
<script th:src="@{/js/vendor/lazysizes.min.js}"></script>
<script th:src="@{https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/theme.js}"></script>
</body>
</html>