<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="${'Admin Event ID '+ adminEventViewModel.getEvent().getId()  +' | ITShelf.com'}"></title>
    <link rel="stylesheet" th:href="@{/css/itshelf-style.css}"/>
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/site.webmanifest" rel="manifest">
    <link color="#373f50" href="/safari-pinned-tab.svg" rel="mask-icon">
    <meta content="#373f50" name="msapplication-TileColor">
    <meta content="#373f50" name="theme-color">
</head>
<body>

<p>Admin</p>

<p th:text="${adminEventViewModel.getUsername()}"></p>

<form action="#" method="post"
      th:action="@{'/admin/events/' + ${adminEventViewModel.getEvent().getId()}}"
      th:object="${adminEventUpdateViewModel}">

    <div class="row mr-5 ml-5">

        <!--/* Main */-->
        <div class="card mb-4 col-sm-12">
            <div class="card-body row">

                <div class="col-sm-12">
                    <h2>Main</h2>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="event-id">ID</label>
                        <p id="event-id" th:text="*{id}"></p>
                        <input th:field="*{id}" type="hidden">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="event-title">Title</label>
                        <input class="form-control" id="event-title" th:field="*{name}"
                               type="text" th:classappend="${(adminEventErrorViewModel != null) && adminEventErrorViewModel.containsError('name')} ? 'is-invalid': ''" >
                        <div class="invalid-feedback" th:if="${(adminEventErrorViewModel != null) && adminEventErrorViewModel.containsError('name')}">Please specify event name.</div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="event-description">Description</label>
                        <textarea class="form-control" id="event-description" rows="10" style="height:100%;"
                                  th:field="*{description}"> </textarea>
                        <p class="badge" id="event-description-count"></p>
                    </div>
                </div>

                <div class="col-sm-12">
                    <!--/* Image */-->
                    <div class="form-group">
                        <label for="event-image">Image</label>
                        <img alt="Event Logo" id="event-image" th:src="*{image}"/>
                    </div>

                    <div class="form-group">
                        <label for="event-image-url">Image URL</label>
                        <input class="form-control" id="event-image-url" th:field="*{image}"
                               type="text">
                    </div>
                </div>

                <!--/* Type */-->
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="event-type">Type</label>
                        <select id="event-type" name="type" class="form-control">
                            <option value="Conference"
                                    th:selected="${adminEventUpdateViewModel.getType() == 'Conference'}">
                                Conference
                            </option>
                            <option value="Online Conference"
                                    th:selected="${adminEventUpdateViewModel.getType() == 'Online Conference'}">Online
                                Conference
                            </option>
                            <option value="Webinar" th:selected="${adminEventUpdateViewModel.getType() == 'Webinar'}">
                                Webinar
                            </option>
                        </select>
                    </div>
                </div>

                <!--/* Status */-->
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="event-status">Status</label>
                        <select id="event-status" name="status" class="form-control">
                            <option value="Active" th:selected="${adminEventUpdateViewModel.getStatus() == 'Active'}">
                                Active
                            </option>
                            <option value="Inactive"
                                    th:selected="${adminEventUpdateViewModel.getStatus() == 'Inactive'}">
                                Inactive
                            </option>
                            <option value="Canceled"
                                    th:selected="${adminEventUpdateViewModel.getStatus() == 'Canceled'}">
                                Canceled
                            </option>
                        </select>
                    </div>
                </div>

                <!--/* Keywords */-->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="event-keywords">Keywords</label>
                        <input class="form-control" id="event-keywords" th:field="*{keywords}" type="text">
                    </div>
                </div>

                <!--/* Slug */-->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="event-link">ITShelf Link (Slug)</label>
                        <a class="d-block" id="event-link"
                           target="_blank" th:href="@{ '/events/' + ${adminEventViewModel.getEvent().getSlug()}}"
                           th:text="${ 'events/' + adminEventViewModel.getEvent().getSlug()}"></a>
                        <input class="form-control" th:field="*{slug}" type="text">
                    </div>
                </div>

                <!--/* External Link */-->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="event-external-link">External Link</label>
                        <a class="d-block" id="event-external-link"
                           target="_blank" th:href="${adminEventViewModel.getEvent().getUrl()}"
                           th:text="${adminEventViewModel.getEvent().getUrl()}"></a>
                        <input class="form-control" th:field="*{externalURL}" type="text">
                    </div>
                </div>

                <div class="card mb-4 col-sm-12">
                    <div class="card-body row">
                        <div class="col-sm-12">
                            <h2>Location</h2>
                        </div>

                        <!--/* City */-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="event-city">City</label>
                                <input class="form-control" id="event-city" th:field="*{city}" type="text">
                            </div>
                        </div>

                        <!--/* Country */-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="event-country">Country</label>
                                <input class="form-control" id="event-country" th:field="*{country}" type="text">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="event-address">Address</label>
                                <textarea class="form-control" id="event-address" rows="3" style="height:100%;"
                                          th:field="*{address}"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--/* Date */-->
        <div class="card mb-4 col-sm-12">
            <div class="card-body row">

                <div class="col-sm-12">
                    <h2>Date</h2>
                </div>

                <!--/* From date */-->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="date-time-input1">From Date and Time</label>
                        <input class="form-control" id="date-time-input1" th:field="*{dateTimeFrom}"
                               type="datetime-local" th:classappend="${(adminEventErrorViewModel != null) && adminEventErrorViewModel.containsError('dateTimeFrom')} ? 'is-invalid': ''">
                        <div class="invalid-feedback" th:if="${(adminEventErrorViewModel != null) && adminEventErrorViewModel.containsError('dateTimeFrom')}">Please specify event starting date</div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="timezone-offset1">Timezone</label>
                        <select id="timezone-offset1" name="timezoneOffsetFrom" class="form-control">
                            <option value="+00:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '00:00'}">
                                (GMT 00:00) UCT
                            </option>
                            <option value="-12:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '-12:00'}">(GMT
                                -12:00)
                                Eniwetok, Kwajalein
                            </option>
                            <option value="-11:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '-11:00'}">(GMT
                                -11:00)
                                Midway Island, Samoa
                            </option>
                            <option value="-10:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '-10:00'}">(GMT
                                -10:00)
                                Hawaii
                            </option>
                            <option value="-09:30"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '-09:30'}">(GMT
                                -9:30)
                                Taiohae
                            </option>
                            <option value="-09:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '-09:00'}">(GMT
                                -9:00)
                                Alaska
                            </option>
                            <option value="-08:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '-08:00'}">(GMT
                                -8:00)
                                Alaska
                            </option>
                            <option value="-07:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '-07:00'}">(GMT
                                -7:00)
                                Pacific Time
                            </option>
                            <option value="-06:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '-06:00'}">(GMT
                                -6:00)
                                Mountain Time
                            </option>
                            <option value="-05:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '-05:00'}">(GMT
                                -5:00)
                                Central Time
                            </option>
                            <option value="-04:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '-04:00'}">(GMT
                                -4:00)
                                Eastern Time
                            </option>
                            <option value="-03:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '-03:00'}">(GMT
                                -3:00)
                                Rio de Janeiro, Brazil
                            </option>
                            <option value="-02:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '-02:00'}">(GMT
                                -2:00)
                            </option>
                            <option value="-01:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '-01:00'}">(GMT
                                -1:00)
                            </option>
                            <option value="+01:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '+01:00'}">(GMT
                                +1:00)
                                London, United Kingdom
                            </option>
                            <option value="+02:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '+02:00'}">(GMT
                                +2:00)
                                Berlin, Germany
                            </option>
                            <option value="+03:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '+03:00'}">(GMT
                                +3:00)
                                Moscow, Russian Federation
                            </option>
                            <option value="+04:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '+04:00'}">(GMT
                                +4:00)
                                Dubai, United Arab Emirates
                            </option>
                            <option value="+05:30"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '+05:00'}">(GMT
                                +5:30)
                                Mumbai, India
                            </option>
                            <option value="+06:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '+06:00'}">(GMT
                                +6:00)
                            </option>
                            <option value="+07:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '+07:00'}">(GMT
                                +7:00)
                            </option>
                            <option value="+08:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '+08:00'}">(GMT
                                +8:00)
                                Singapore, Singapore
                            </option>
                            <option value="+09:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '+09:00'}">(GMT
                                +9:00)
                                Tokyo, Japan
                            </option>
                            <option value="+10:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '+10:00'}">(GMT
                                +10:00)
                                Sydney, Australia
                            </option>
                            <option value="+11:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '+11:00'}">(GMT
                                +11:00)
                            </option>
                            <option value="+12:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetFrom() == '+12:00'}">(GMT
                                +12:00)
                                Auckland, New Zealand
                            </option>
                        </select>
                    </div>
                </div>

                <!--/* To date */-->
                <div class="col-sm-1">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" name="isDateTimeToFlag" type="checkbox"
                               id="isDateTimeToFlag"
                               th:checked="${adminEventUpdateViewModel.isDateTimeToFlag()}">
                        <label class="custom-control-label" for="isDateTimeToFlag"></label>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="date-time-input2">To Date and Time</label>
                        <input class="form-control" id="date-time-input2" th:field="*{dateTimeTo}"
                               type="datetime-local">
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="timezone-offset2">Timezone</label>
                        <select id="timezone-offset2" name="timezoneOffsetTo" class="form-control">
                            <option value="+00:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '00:00'}">
                                (GMT 00:00) UCT
                            </option>
                            <option value="-12:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '-12:00'}">
                                (GMT -12:00) Eniwetok, Kwajalein
                            </option>
                            <option value="-11:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '-11:00'}">
                                (GMT -11:00) Midway Island, Samoa
                            </option>
                            <option value="-10:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '-10:00'}">
                                (GMT -10:00) Hawaii
                            </option>
                            <option value="-09:30"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '-09:30'}">
                                (GMT -9:30) Taiohae
                            </option>
                            <option value="-09:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '-09:00'}">
                                (GMT -9:00) Alaska
                            </option>
                            <option value="-08:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '-08:00'}">
                                (GMT -8:00) Alaska
                            </option>
                            <option value="-07:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '-07:00'}">
                                (GMT -7:00) Pacific Time
                            </option>
                            <option value="-06:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '-06:00'}">
                                (GMT -6:00) Mountain Time
                            </option>
                            <option value="-05:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '-05:00'}">
                                (GMT -5:00) Central Time
                            </option>
                            <option value="-04:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '-04:00'}">
                                (GMT -4:00) Eastern Time
                            </option>
                            <option value="-03:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '-03:00'}">
                                (GMT -3:00) Rio de Janeiro, Brazil
                            </option>
                            <option value="-02:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '-02:00'}">
                                (GMT -2:00)
                            </option>
                            <option value="-01:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '-01:00'}">
                                (GMT -1:00)
                            </option>
                            <option value="+01:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '+01:00'}">
                                (GMT +1:00) London, United Kingdom
                            </option>
                            <option value="+02:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '+02:00'}">
                                (GMT +2:00) Berlin, Germany
                            </option>
                            <option value="+03:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '+03:00'}">
                                (GMT +3:00) Moscow, Russian Federation
                            </option>
                            <option value="+04:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '+04:00'}">
                                (GMT +4:00) Dubai, United Arab Emirates
                            </option>
                            <option value="+05:30"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '+05:00'}">
                                (GMT +5:30) Mumbai, India
                            </option>
                            <option value="+06:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '+06:00'}">
                                (GMT +6:00)
                            </option>
                            <option value="+07:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '+07:00'}">
                                (GMT +7:00)
                            </option>
                            <option value="+08:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '+08:00'}">
                                (GMT +8:00) Singapore, Singapore
                            </option>
                            <option value="+09:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '+09:00'}">
                                (GMT +9:00) Tokyo, Japan
                            </option>
                            <option value="+10:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '+10:00'}">
                                (GMT +10:00) Sydney, Australia
                            </option>
                            <option value="+11:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '+11:00'}">
                                (GMT +11:00)
                            </option>
                            <option value="+12:00"
                                    th:selected="${adminEventUpdateViewModel.getTimezoneOffsetTo() == '+12:00'}">
                                (GMT +12:00) Auckland, New Zealand
                            </option>
                        </select>
                    </div>
                </div>

            </div>
        </div>

        <!--/* Price */-->
        <div class="card mb-4 col-sm-12">
            <div class="card-body row">

                <div class="col-sm-12">
                    <h2>Price</h2>
                </div>

                <!--/* Is Free */-->
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" name="isFree" type="checkbox" id="isFree"
                                   th:checked="${adminEventUpdateViewModel.isFree()}">
                            <label class="custom-control-label" for="isFree">Free</label>
                        </div>
                    </div>
                </div>

                <!--/* Price From */-->
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="event-keywords">Price From</label>
                        <input class="form-control" id="priceFrom" th:field="*{priceFrom}" type="text">
                    </div>
                </div>

                <!--/* Price To */-->
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="event-keywords">Price To</label>
                        <input class="form-control" id="priceTo" th:field="*{priceTo}" type="text">
                    </div>
                </div>

            </div>
        </div>

        <!--/* Vendor */-->
        <div class="card mb-4 col-sm-12">
            <div class="card-body row">
                <div class="col-sm-12">
                    <h2>Vendor</h2>
                </div>

                <!--/* Name */-->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="event-vendor-name">Name</label>
                        <input class="form-control" id="event-vendor-name" th:field="*{vendorName}" type="text">
                    </div>
                </div>

                <!--/* Link */-->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="event-vendor-link">Link</label>
                        <input class="form-control" id="event-vendor-link" th:field="*{vendorLink}" type="text">
                    </div>
                </div>

                <!--/* Contact info mail */-->
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="event-vendor-email">Contact Info Email</label>
                        <input class="form-control" id="event-vendor-email" th:field="*{vendorEmail}" type="text">
                    </div>
                </div>
            </div>
        </div>

        <!--/* Social Links */-->
        <div class="card mb-4 col-sm-12">
            <div class="card-body row">

                <div class="col-sm-12">
                    <h2>Social Links</h2>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="event-twitter-link">Twitter Link</label>
                        <a class="d-block" id="event-twitter-link"
                           target="_blank" th:href="${adminEventViewModel.getEvent().getTwitterLink()}"
                           th:text="${adminEventViewModel.getEvent().getTwitterLink()}"></a>
                        <input class="form-control" th:field="*{twitterLink}" type="text">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="event-facebook-link">Facebook Link</label>
                        <a class="d-block" id="event-facebook-link"
                           target="_blank" th:href="${adminEventViewModel.getEvent().getFacebookLink()}"
                           th:text="${adminEventViewModel.getEvent().getFacebookLink()}"></a>
                        <input class="form-control" th:field="*{facebookLink}" type="text">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="event-facebook-link">Youtube Link</label>
                        <a class="d-block" id="event-youtube-link"
                           target="_blank" th:href="${adminEventViewModel.getEvent().getYoutubeLink()}"
                           th:text="${adminEventViewModel.getEvent().getYoutubeLink()}"></a>
                        <input class="form-control" th:field="*{youtubeLink}" type="text">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="event-facebook-link">Linkedin Link</label>
                        <a class="d-block" id="event-linkedin-link"
                           target="_blank" th:href="${adminEventViewModel.getEvent().getLinkedinLink()}"
                           th:text="${adminEventViewModel.getEvent().getLinkedinLink()}"></a>
                        <input class="form-control" th:field="*{linkedinLink}" type="text">
                    </div>
                </div>

            </div>
        </div>

        <!--/* Save event */-->
        <div class="col-12 text-right">
            <hr class="mt-2 mb-3">
            <button class="btn btn-info mt-3 mt-sm-0" type="submit">Save event</button>
        </div>

    </div>
</form>

<script th:src="@{/js/vendor/jquery.min.js}"></script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/tiny-slider.min.js}"></script>
<script th:src="@{/js/vendor/lazysizes.min.js}"></script>
<script th:src="@{/js/theme.js}"></script>
</body>
</html>