<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header(searchTerm, pathToLogo, pathToLogoSign, page)" class="navbar bg-dark">

    <!--/*
      This container will keep content in center when the screen is expanded.
      Wrapping container is defining the background-color.
    */-->
    <div class="container" style="flex-wrap: nowrap; justify-content: left">

        <!--/* Logo */-->
        <a class="navbar-brand  d-none d-sm-block mr-3 flex-shrink-0" href="/">
            <img width="142" height="49" th:src="${pathToLogo}" alt="ITShelf"/>
        </a>
        <a class="navbar-brand  d-sm-none mr-3 flex-shrink-0" href="/">
            <img width="49" height="49" th:src="${pathToLogoSign}" alt="ITShelf"/>
        </a>

        <!--/* Search input */-->
    <form action="#" th:action="@{'~/' + ${page == 'course'?'search':'events'}}" method="get"
              style="max-width: 450px;" class="input-group-overlay  d-flex mx-4">
            <input class="form-control appended-form-control" type="text" maxlength="100"
                   placeholder="I'm searching for..." th:name="searchTerm"
                   th:value="${searchTerm}">

            <button class="input-group-append-overlay input-group-text"
                    style="background-color: transparent; border-color: transparent;">
                <i class="czi-search" aria-hidden="true"></i>
            </button>
        </form>
        <div class="flex-grow-1" ></div>

        <!-- /* Rest of the menu */-->

        <a class="navbar-link pr-3 d-none d-sm-block" th:classappend="${page=='course'} ? 'text-white' : ''" th:href="@{/search(searchTerm=${searchTerm})}" rel="nofollow">Courses</a>
        <a class="navbar-link d-none d-sm-block" th:classappend="${page=='event'} ? 'text-white' : ''" th:href="@{/events(searchTerm=${searchTerm})}" rel="nofollow">Events</a>
    </div>

    <!-- /* Has to be responsive hive when in small/mobile resolution */-->
    <div class="container" style="flex-wrap: nowrap; justify-content: right">
        <a class="navbar-link pr-3 d-block d-sm-none"  th:classappend="${page=='course'} ? 'text-white' : ''" th:href="@{/search(searchTerm=${searchTerm})}" rel="nofollow">Courses</a>
        <a class="navbar-link d-block d-sm-none" th:classappend="${page=='event'} ? 'text-white' : ''" th:href="@{/events(searchTerm=${searchTerm})}" rel="nofollow">Events</a>
    </div>
</header>
</body>
</html>