/**********************************************
 *                 GENERAL                    *
 **********************************************/

/* Link text color */
a {
    color: #69b8fe;
}

a:hover {
    color: rgb(55, 63, 80);
}

/* Input focus border color */
.form-control:focus {
    color: #4b566b;
    background-color: #fff;
    border-color: rgba(105, 184, 254, 0.3);
    outline: 0;
    box-shadow: 0 0 0 0 transparent, 0 0.375rem 0.625rem -0.3125rem rgba(105, 184, 254, 0.15);
}

/* Push footer to the bottom */
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html {
    height: 100%;
}

/* Accent background color */
.bg-accent {
    background-color: #373f50 !important;
}

/* Customized checkbox */
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #69b3fe;
    background-color: #69b3fe;
    box-shadow: none;
}

/* Pagination colors */
.page-item.active > .page-link {
    box-shadow: 0 0.5rem 1.125rem -0.425rem #69b8fe;
}
.page-item.active .page-link {
    background-color: #69b8fe;
}

/**********************************************
 *                  HEADER                    *
 **********************************************/
.navbar .navbar-link:hover {
    color: #fff;
}

.navbar .navbar-link {
    font-size: 1.5rem;
}

/**********************************************
 *               LANDING PAGE                 *
 **********************************************/
/* Keywords non-breaking and bordered style */
.keywords-collection > a, .keywords-collection > div > a {
    border-radius: 30px;
    border: 1px solid rgba(105, 184, 254, 0.5);
    padding: 6px;
    white-space: nowrap;
}

@media (max-width: 677px) {
    #searchType {
        margin-top: 15px;
    }
}

/* Course Carousel title limited to 2 lines */
p.landing-page-carousel-title  {
    font-size: 1.3rem;
    color: rgb(55, 63, 80);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-weight: 500;
}

/* Size of the vendor name */
p.landing-page-carousel-date span {
    font-size: 1rem;
    color: rgb(55, 63, 80);
}

/* Size of the vendor name */
p.landing-page-carousel-vendor {
    font-size: 0.8rem;
    color: rgb(55, 63, 80);
}

/* Center course image */
.cz-carousel-inner > div > a > img {
    display: block;
    margin: auto;
    max-height: 135px;
}

/* Bottom margin of the top courses carousel section */
.courses-carousel > h3 {
    margin-bottom: 1.5rem;
}

/**********************************************
 *           SERP - Event Cards              *
 **********************************************/
/* Keywords non-breaking and bordered style */
.keywords-collection > span, .keywords-collection > div > span {
    border-radius: 30px;
    border: 1px solid rgba(105, 184, 254, 0.5);
    padding: 3px;
    white-space: nowrap;
    margin: 3px;
    color: #69b8fe;
    font-size: 0.85rem;
}

/* Position badge to the right side */
.product-card .badge {
    left: auto;
    right:0;
    font-size: 1rem;
}

/**********************************************
 *         EDP - Event Detail Page            *
 **********************************************/

.event-panel p {
    margin-bottom: 0;
}

/**********************************************
 *           SERP - Course Cards              *
 **********************************************/

/* Title hover effect */
.product-title > a:hover {
    color: #69b8fe;
}

/* Cards spacing */
.card {
    margin-bottom: 16px;
}

/* Product title bigger size */
.product-title {
    font-size: 1.4rem !important;
}

/* Maximal height of the images in cards */
.product-list-thumb > img {
    max-height: 135px;
}