<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${ 'Search for ' + (!#strings.isEmpty(eventSearchResults.getSearchTerm()) ? (eventSearchResults.getSearchTerm() + ' ') : '') + 'IT Conferences, Webinars and Online Conferences | ITShelf.com'} ">
        Search for IT Conferences, Webinars and Online Conferences | ITShelf.com</title>
    <link rel="stylesheet" th:href="@{/css/itshelf-style.css}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#373f50">
    <meta name="msapplication-TileColor" content="#373f50">
    <meta name="theme-color" content="#373f50">
    <meta name ="robots" content="none">
    <meta name="description"
          th:content="'List of all IT conferences, webinars and online conferences' + ${!#strings.isEmpty(eventSearchResults.getSearchTerm()) ? (' about ' + eventSearchResults.getSearchTerm()): ''}">
</head>
<body>

<div th:replace="fragments/header/header.html :: header(${eventSearchResults.getSearchTerm()}, ${eventSearchResults.pathToLogo}, ${eventSearchResults.pathToLogoSign}, 'event')"></div>

<section class="col pt-2">

    <h1 class="font-size-sm font-weight-normal">
        <span th:text="${eventSearchResults.getEvents().size()}">X</span>
        events
        <span th:text="${ !#strings.isEmpty(eventSearchResults.getSearchTerm()) ? (' for &quot;' + eventSearchResults.getSearchTerm() + '&quot;') :''   }"></span>
    </h1>

    <!--/* Filters */-->
    <button id="filter-free" type="button" class="btn btn-outline-info">Free</button>

    <!-- Dropdown -->
    <div class="btn-group dropdown">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Type
        </button>
        <div class="dropdown-menu p-2">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="filter-type-conference" checked="">
                <label class="custom-control-label" for="filter-type-conference">Conference</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="filter-type-webinar" checked="">
                <label class="custom-control-label" for="filter-type-webinar">Webinar</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="filter-type-online-conference" checked="">
                <label class="custom-control-label" for="filter-type-online-conference">Online Conference</label>
            </div>
        </div>
    </div>

    <!--/* List */-->
    <div th:include="fragments/list/eventList.html :: eventList(${eventSearchResults})"></div>
</section>

<div th:replace="fragments/footer/footer.html :: footer(${eventSearchResults.pathToLogo})"></div>

<script th:src="@{/js/main.js}"></script>
</body>
</html>