<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${eventDetailResults.event.getName() + ' | ' + eventDetailResults.event.getType() + ' | ITShelf.com'} ">
        ITShelf.com</title>
    <script type="application/ld+json" th:utext="${eventDetailResults.getEventJsonLd()}">
    </script>

    <link rel="stylesheet" th:href="@{/css/itshelf-style.css}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#373f50">
    <meta name="msapplication-TileColor" content="#373f50">
    <meta name="theme-color" content="#373f50">
    <meta name="description" th:content="${#strings.abbreviate(eventDetailResults.event.getDescription(), 150)}">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@ITShelf_com"/>
    <meta name="twitter:title"
          th:content="${eventDetailResults.event.getName() + ' | ' + eventDetailResults.event.getType() + ' | ITShelf.com'} "/>
    <meta name="twitter:description" th:content="'Check out upcoming ' + ${eventDetailResults.event.getName() + ', ' + eventDetailResults.event.getType() +
     (eventDetailResults.event.getTwitterLink() != null ? (' from ' + eventDetailResults.event.getTwitterLink()) : '') +' via @ITShelf.com'} "/>
    <meta name="twitter:image" th:content="${eventDetailResults.event.getImage()} "/>
</head>
<body>

<div th:replace="fragments/header/header.html :: header('', ${eventDetailResults.pathToLogo}, ${eventDetailResults.pathToLogoSign}, 'event')"></div>

<div class="page-title-overlap bg-accent pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">

            <!--/* Title */-->
            <h1 class="h3 text-light mb-0" th:text="${eventDetailResults.event.getName()}">Event Title</h1>
        </div>
    </div>
</div>

<section class="container mb-3 pb-3 " th:with="event=${eventDetailResults.event}">

    <div class="bg-light box-shadow-lg rounded-lg overflow-hidden pr-xl-5 pl-xl-5">

        <div class="row">

            <!--/* Left Part */-->
            <div class="col-lg-8 pt-2 pt-lg-4 pb-4 mb-lg-3 ">

                <!--/* Image vs Map */-->
                <img th:src="${event.getImage()}" th:alt="${event.getName()}" style="max-height: 300px;"
                     alt="Event Image"><br/>

                <!--/* First three keywords as hashtags, get them form thymeleaf helper */-->

                <!--/* Use th:with because of Request processing failed; nested exception is org.thymeleaf.exceptions.TemplateProcessingException: Instantiation of new objects and access to static classes is forbidden in this context (template: "event" - line 58, col 20)
                https://stackoverflow.com/questions/66048129/spring-boot-2-4-2-and-thymeleaf-3-0-12-access-static-methods
                I won't pull this to domain logic as its used only for representation. Should be part of UI/HTML5.
                */-->
                <div class="mt-4">
                <a class="twitter-share-button"
                   th:with="hashtags=${T(com.itcareer.app.core.thymeleaf.ThymeleafUtils).getKeywordsAsHashtags(event.getArrayOfKeywords())}"
                   th:href="${'https://twitter.com/intent/tweet?text=Check out '
                    + event.getName() + ' that will be about ' + hashtags +'&via=ITShelf_com'} " data-size="large">
                    Tweet</a>
                </div>

                <!--/* Description */-->
                <p class="mt-4" th:utext="${eventDetailResults.getDescriptionAsHTML()}"/>

                <!--/* Keywords */-->
                <div style="max-width: 700px; display: flex; flex-flow: wrap; line-height: 19px"
                     class="keywords-collection">
                    <span th:each="keyword:${event.getArrayOfKeywords()}" th:text="${keyword}">keyword</span>
                </div>
            </div>

            <!--/* Right Part */-->
            <div class="col-lg-4 border-left event-panel">

                <!--/* Link to the origin */-->
                <div class="border-bottom pb-3 d-flex justify-content-between">

                    <a th:href="${event.getUrl()}" style="font-size: 1.1rem" class="btn btn-success btn-shadow btn-block mt-4" target="_blank" rel="noopener"><!--/* //NOSONAR I want that the juice goes to external event pages */-->Go to event&nbsp;&nbsp;<i
                            aria-hidden="true"
                            class="czi-share font-size-lg mr-2"></i></a>
                </div>

                <!--/* City, Country (Optional) */-->
                <!--/* Place */-->
                <div th:if="${!#strings.isEmpty(event.getCity()) || !#strings.isEmpty(event.getCountry())}"
                     class="border-bottom pb-3 pt-3 mb-0 d-flex justify-content-between">
                    <p>City / Country</p>
                    <p>
                        <span th:if="${event.getCity()}" th:text="${event.getCity()}"/>
                        <span th:if="${!#strings.isEmpty(event.getCity()) && !#strings.isEmpty(event.getCountry())}" th:text="'/'"/>
                        <span th:if="${event.getCountry()}" th:text="${event.getCountry()}"/>
                    </p>
                </div>

                <!--/* Address */-->
                <div th:if="${!#strings.isEmpty(event.getLocationAddress())}"
                     class="border-bottom pb-3 pt-3 d-flex justify-content-between">
                    <p>Address</p>
                    <p th:utext="${#strings.replace(#strings.escapeXml(event.getLocationAddress()),'&#10;','&lt;br&gt;')}"/>
                </div>

                <!--/* Date From -To */-->
                <!--/* Date From -To */-->
                <!--/* Date */-->
                <div class="border-bottom pb-3 pt-3 mb-0 d-flex justify-content-between">
                    <p>Date</p>
                    <p th:with="onlyFrom=${event.getDateTo() == null},
                sameMonth=${event.getDateTo() != null && event.getDateFrom().getMonth() == event.getDateTo().getMonth()},
                sameDay=${event.getDateTo() != null && sameMonth && event.getDateFrom().getDayOfMonth() == event.getDateTo().getDayOfMonth()}">

                        <!--/* If months are the same do not show from Month */-->
                        <span th:if="${sameMonth && !sameDay}"
                              th:text="${#temporals.format(event.getDateFrom(), 'dd')}"/>

                        <!--/* If months are not the same show date from Month */-->
                        <!--/* If there is only from date show it with Month */-->
                        <span th:if="${sameDay || !sameMonth || onlyFrom}"
                              th:text="${#temporals.format(event.getDateFrom(), 'dd MMM')}"/>

                        <!--/* If there is to date show it */-->
                        <span th:if="${!onlyFrom && !sameDay}"
                              th:text="${ ' - ' +  #temporals.format(event.getDateTo(), 'dd MMM')}"/>

                        <!--/* If date is in next year show it */-->
                        <span th:if="${   #dates.format(#dates.createNow(), 'yyyy') != #temporals.format(event.getDateFrom(), 'yyyy') }"
                              th:text="${ #temporals.format(event.getDateFrom(), 'yyyy') }"/>
                    </p>
                </div>

                <!--/* Type (Online conference, conference, workshop…) */-->
                <div class="border-bottom pb-3 pt-3 mb-0 d-flex justify-content-between">
                    <p>Type</p>
                    <p th:text="${event.getType()}"/>
                </div>

                <!--/* Optional Price (Free flag) */-->
                <div th:if="${!event.isFree() && !#strings.isEmpty(event.getPriceFrom())}" class="border-bottom pb-3 pt-3 mb-0 d-flex justify-content-between">
                    <p>Price</p>
                    <p
                            th:text="${event.getPriceFrom()} + ${!#strings.isEmpty(event.getPriceTo()) ? (' - ' +  event.getPriceTo()): ''}"/>
                </div>
                <div th:if="${event.isFree()}" class="border-bottom pb-3 pt-3 d-flex justify-content-between">
                    <p>Price</p>
                    <span class="badge badge-info badge-shadow free " style="font-size: 1rem">Free</span>
                </div>

                <!--/* Vendor */-->
                <div th:if="${!#strings.isEmpty(event.getVendorName())}" class="border-bottom pb-3 pt-3 d-flex justify-content-between">
                    <p>Organizer</p>
                    <p th:text="${event.getVendorName()}"/>
                </div>

                <!--/* Follow */-->
                <div th:if="${(!#strings.isEmpty(event.getFacebookLink()))
                or (!#strings.isEmpty(event.getTwitterLink()))
                or (!#strings.isEmpty(event.getYoutubeLink()))
                or (!#strings.isEmpty(event.getLinkedinLink()))} "
                     class="border-bottom pb-3 pt-3 d-flex justify-content-between">
                    <p>Follow</p>
                    <div>
                        <a target="_blank" th:if="${!#strings.isEmpty(event.getTwitterLink())}"
                           th:href="${event.getTwitterLink()}" rel="noopener noreferrer">
                            <i aria-hidden="true" class="czi-twitter font-size-lg mr-2"></i>
                        </a>
                        <a target="_blank" th:if="${!#strings.isEmpty(event.getFacebookLink())}"
                           th:href="${event.getFacebookLink()}" rel="noopener noreferrer">
                            <i aria-hidden="true" class="czi-facebook font-size-lg mr-2"></i>
                        </a>
                        <a target="_blank" th:if="${!#strings.isEmpty(event.getYoutubeLink())}"
                           th:href="${event.getYoutubeLink()}" rel="noopener noreferrer">
                            <i aria-hidden="true" class="czi-youtube font-size-lg mr-2"></i>
                        </a>
                        <a target="_blank" th:if="${!#strings.isEmpty(event.getLinkedinLink())}"
                           th:href="${event.getLinkedinLink()}" rel="noopener noreferrer">
                            <i aria-hidden="true" class="czi-linkedin font-size-lg mr-2"></i>
                        </a>
                    </div>
                </div>
                <div th:if="${isLoggedIn == true}" class="border-bottom pb-3 pt-3 d-flex justify-content-between">
                    <a th:href="@{/admin/events/{eventid}(eventid=${event.getId()})}" th:if="${isLoggedIn == true}" target="_blank">Open in admin</a>
                </div>
            </div>
        </div>

       <!--/* Related Courses TBD */-->

        <!--/* Related Events */-->

        <!--/* Event carousel */-->
        <div th:if="${eventDetailResults.getRelatedEvents().size() > 0}">
            <div th:replace="fragments/carousel/eventCarousel.html :: eventCarousel(${eventDetailResults.getRelatedEvents()}, 0, 'Related events')"></div>
        </div>

        <!--/* Hotels from booking or Expedia if real conference */-->
    </div>
</section>

<div class="col"></div>

<div th:replace="fragments/footer/footer.html :: footer(${eventDetailResults.pathToLogo})"></div>
<script th:src="@{/js/main.js}"></script>

</body>
</html>