<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Collection of IT Courses and Events | ITShelf.com</title>
    <link rel="stylesheet" th:href="@{/css/itshelf-style.css}"/>
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/site.webmanifest" rel="manifest">
    <link color="#373f50" href="/safari-pinned-tab.svg" rel="mask-icon">
    <meta content="#373f50" name="msapplication-TileColor">
    <meta content="#373f50" name="theme-color">
    <meta content="You want to deepen your IT knowledge? ITShelf platform has a collection of best resources, courses and events for you to explore | ITShelf.com" name="description">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@ITShelf_com"/>
    <meta name="twitter:title" content="Get all IT Events, Courses and Resources in one place"/>
    <meta name="twitter:description" content="You want to deepen your IT knowledge? ITShelf platform has a collection of best resources, courses and events for you to explore | ITShelf.com"/>
    <meta name="twitter:image" th:content="${'https://itshelf.com'+landingModel.pathToLogo}"/>
    <meta property="og:title" content="Get all IT Events, Courses and Resources in one place" />
    <meta property="og:url" content="https://itshelf.com"/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://itshelf.com/img/logo/itshelf-title-image-og.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:description" content="You want to deepen your IT knowledge? ITShelf platform has a collection of best resources, courses and events for you to explore." />
</head>
<body>
<script type='application/ld+json'>
    {
        "@context": "http://www.schema.org",
        "@type": "Organization",
        "name": "ITShelf",
        "url": "https://itshelf.com",
        "logo": "https://itshelf.com/img/logo/itshelf-logo.png",
        "description": "ITShelf is the mission to provide a collection of IT Courses, Webinars, Conferences and Online Conferences for IT Savvy People, Developers, Architects, DevOps, Database Admins, Cloud Engineers, ... ",
        "sameAs": [
            "https://twitter.com/ITShelf_com",
            "https://www.facebook.com/itshelfcom"
        ]
    }
</script>
<div th:replace="fragments/header/landing-header.html :: header(${landingModel.pathToLogo}, ${landingModel.pathToLogoSign})"></div>
<div class="container pt-5" style="display: flex; flex-direction: column; align-items: center">
    <h1 class="font-weight-light pb-3">Most relevant online IT courses and events</h1>

    <!--/* Search input */-->
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;width: 100%; justify-content: center;">
        <form action="#" class="input-group-overlay  d-flex mx-4" method="get"
              style="width: 450px;" th:action="@{/search}" id="searchForm">
            <input id="searchInput" class="form-control appended-form-control" maxlength="100"
                   placeholder="I'm searching for..."
                   th:name="searchTerm" type="text">
            <button class="input-group-append-overlay input-group-text"
                    style="background-color: transparent; border-color: transparent;">
                <i aria-hidden="true" class="czi-search"></i>
            </button>
        </form>
        <select id="searchType" class="form-control custom-select" style="max-width: 150px">
            <option value="search">Courses</option>
            <option value="events">Events</option>
        </select>
    </div>

    <!--/* Caption */-->
    <div class="d-flex mt-5 text-center flex-wrap">
        <div class="col-xs-12 col-sm-6">
            <img src="https://img.icons8.com/wired/64/000000/courses.png" class="mb-2" alt="Courses"/>
            <p class="font-weight-bold">Deepen your knowledge with over 10K IT online courses</p>
            <p>You can do this from the comfort of your couch with collection of courses aggregated from Coursera, Udemy
                and Microsoft</p>
        </div>

        <div class="col-xs-12 col-sm-6">
            <img src="https://img.icons8.com/wired/64/000000/event-accepted.png" class="mb-2" alt="Events"/>
            <p class="font-weight-bold">Search form over <span
                    th:text="${landingModel.getNumberOfUpcomingEvents()}">50</span> upcoming IT events</p>
            <p>We have you covered with online conferences and webinars or meet with like minded people in on site
                conferences all over the
                world</p>
        </div>
    </div>


    <!--/* Keywords */-->
    <h2 class="font-weight-light pt-5">Try with</h2>
    <div style="max-width: 700px; text-align: center; line-height: 2.3" class="keywords-collection">
        <a href="/search?searchTerm=java" rel="nofollow">Java</a>
        <a href="/search?searchTerm=python" rel="nofollow">Python</a>
        <a href="/search?searchTerm=devops" rel="nofollow">DevOps</a>
        <a href="/search?searchTerm=aws" rel="nofollow">AWS</a>
        <a href="/search?searchTerm=kubernetes" rel="nofollow">Kubernetes</a>
        <a href="/search?searchTerm=azure" rel="nofollow">Azure</a>
        <a href="/search?searchTerm=javascript" rel="nofollow">JavaScript</a>
        <a href="/search?searchTerm=windows server" rel="nofollow">Windows Server</a>
        <a href="/search?searchTerm=mysql" rel="nofollow">MySQL</a>
        <a href="/search?searchTerm=redis" rel="nofollow">Redis</a>
        <a href="/search?searchTerm=flutter" rel="nofollow">Flutter</a>
        <a href="/search?searchTerm=hacking" rel="nofollow">Hacking</a>
        <a href="/search?searchTerm=mobile" rel="nofollow">Mobile</a>
        <a href="/search?searchTerm=linux" rel="nofollow">Linux</a>
        <a href="/search?searchTerm=tdd" rel="nofollow">TDD</a>
        <div class="d-none d-sm-block">
            <a href="/search?searchTerm=security rel="nofollow"">Security</a>
            <a href="/search?searchTerm=machine learning" rel="nofollow">Machine Learning</a>
            <a href="/search?searchTerm=content delivery network" rel="nofollow">Content Delivery Network</a>
            <a href="/search?searchTerm=postgres" rel="nofollow">Postgres</a>
            <a href="/search?searchTerm=elasticsearch" rel="nofollow">Elastic Search</a>
            <a href="/search?searchTerm=selenium" rel="nofollow">Selenium</a>
            <a href="/search?searchTerm=microservices" rel="nofollow">Microservices</a>
            <a href="/search?searchTerm=rest" rel="nofollow">Rest</a>
            <a href="/search?searchTerm=android" rel="nofollow">Android</a>
            <a href="/search?searchTerm=object+oriented+programming" rel="nofollow">Object oriented programming</a>
            <a href="/search?searchTerm=redis" rel="nofollow">Redis</a>
            <a href="/search?searchTerm=angular" rel="nofollow">Angular</a>
            <a href="/search?searchTerm=react" rel="nofollow">React</a>
            <a href="/search?searchTerm=cplusplus" rel="nofollow">Cplusplus</a>
            <a href="/search?searchTerm=golang" rel="nofollow">Golang</a>
        </div>
    </div>
</div>

<!--/* Event carousel */-->
<div th:replace="fragments/carousel/eventCarousel.html :: eventCarousel(${landingModel.getUpcomingEvents()}, 5, 'Upcoming events')"></div>

<!--/* Courses carousel */-->
<div class="landing-page-carousel pt-5 pr-5 pl-5">
    <h2>Popular courses</h2>
    <div class="cz-carousel cz-controls-static cz-controls-outside">
        <div class="cz-carousel-inner"
             data-carousel-options='{"items": 4, "nav": false,
           "responsive": {
             "0":{"items":1},
             "500":{"items":2, "gutter": 18},
             "768":{"items":3, "gutter": 20},
             "1100":{"items":4, "gutter": 22},
             "1500":{"gutter": 24}
           }
         }'>
            <div>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://www.udemy.com/course/the-web-developer-bootcamp/">
                    <div class="d-flex align-items-center" style="height:150px;  justify-content: center;">
                        <img style="max-height:150px;" class="lazyload" data-src="https://img-a.udemycdn.com/course/240x135/625204_436a_2.jpg"
                             alt="The Web Developer Bootcamp image">
                    </div>
                    <p class="landing-page-carousel-title pt-3">The Web Developer Bootcamp</p>
                    <p class="landing-page-carousel-vendor"> Colt Steele / Udemy</p>
                </a>
            </div>
            <div>
                <a target="_blank" rel="noopener noreferrer" href="https://www.coursera.org/learn/algorithms-part2">
                    <div class="d-flex align-items-center" style="height:150px;  justify-content: center;">
                        <img style="max-height:150px;"
                             class="lazyload" data-src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/34/b0ca105cfe11e8970eeb2a232d4fdc/algs4partI-logo.png?auto=format%2Ccompress&dpr=1&w=268"
                             alt="Algorithms Part 2 image">
                    </div>
                    <p class="landing-page-carousel-title pt-3">Algorithms, Part II</p>
                    <p class="landing-page-carousel-vendor">Robert Sedgewick, Kevin Wayne / Coursera</p>
                </a>
            </div>
            <div>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://docs.microsoft.com/en-us/learn/modules/explore-azure-infrastructure/">
                    <div class="d-flex align-items-center" style="height:150px; justify-content: center;">
                        <img style="max-height:150px;"
                             class="lazyload" data-src="https://docs.microsoft.com/en-us/learn/achievements/explore-azure-infrastructure.svg"
                             alt="Core Cloud Services image">
                    </div>
                    <p class="landing-page-carousel-title pt-3">Core Cloud Services - Azure architecture and service
                        guarantees</p>
                    <p class="landing-page-carousel-vendor">Microsoft</p>
                </a>
            </div>
            <div>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://www.udemy.com/course/learn-flutter-dart-to-build-ios-android-apps/">
                    <div class="d-flex align-items-center" style="height:150px; justify-content: center;">
                        <img style="max-height:150px;"
                             class="lazyload" data-src="https://img-a.udemycdn.com/course/240x135/1708340_7108_4.jpg" alt="Flutter image">
                    </div>
                    <p class="landing-page-carousel-title pt-3">Flutter & Dart - The Complete Guide [2020 Edition]</p>
                    <p class="landing-page-carousel-vendor">Academind by Maximilian Schwarzmüller / Udemy</p>
                </a>
            </div>
            <div>
                <a target="_blank" rel="noopener noreferrer" href="https://www.coursera.org/learn/it-security">
                    <div class="d-flex align-items-center" style="height:150px; justify-content: center;">
                        <img style="max-height:150px;"
                             class="lazyload" data-src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera-course-photos/af/d5ed10f26911e7a930e510b0715979/Course-Logo-6---NEW.jpg?auto=format%2Ccompress&dpr=1&w=150&h=150&fit=fill&bg=FFF"
                             alt="IT Security Google">
                    </div>
                    <p class="landing-page-carousel-title pt-3">IT Security: Defense against the digital dark arts</p>
                    <p class="landing-page-carousel-vendor">Google / Coursera</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer/footer.html :: footer(${landingModel.pathToLogo})"></div>

<script th:src="@{/js/main.js}"></script>

</body>
</html>