<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${ 'Search for ' + (!#strings.isEmpty(searchResults.getSearchTerm()) ? (searchResults.getSearchTerm() + ' ') : '') + 'IT Courses | ITShelf.com'} ">
        Search for IT Courses | ITShelf.com</title>
    <link rel="stylesheet" th:href="@{/css/itshelf-style.css}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#373f50">
    <meta name="msapplication-TileColor" content="#373f50">
    <meta name="theme-color" content="#373f50">
    <meta name ="robots" content="none">
    <meta name="description" th:content="'List of all IT Courses' + ${!#strings.isEmpty(searchResults.getSearchTerm()) ? (' about ' + searchResults.getSearchTerm()): ''}">
</head>
<body>
<!--/* FOUC https://stackoverflow.com/questions/21147149/flash-of-unstyled-content-fouc-in-firefox-only-is-ff-slow-renderer */-->
<script>0</script>

<div th:replace="fragments/header/header.html :: header(${searchResults.getSearchTerm()}, ${searchResults.pathToLogo}, ${searchResults.pathToLogoSign},'course')"></div>

<section class="col pt-2">
    <h1 class="font-size-sm font-weight-normal">
        <span th:text="${searchResults.getCourses().size()}">X</span>
        courses
        <span th:text="${ !#strings.isEmpty(searchResults.getSearchTerm()) ? (' for &quot;' + searchResults.getSearchTerm() + '&quot;') :''   }"></span>
    </h1>
    <div th:include="fragments/list/courseList.html :: courseList(${searchResults})"></div>
</section>

<div th:replace="fragments/footer/footer.html :: footer(${searchResults.pathToLogo})"></div>
</body>
</html>