<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--/* Event Card Carousel */-->
<div th:fragment="eventCarousel(events, padding, title)">

    <div th:class="'landing-page-carousel pt-5 pr-' + ${padding} + ' pl-' + ${padding}">
        <h2 th:text="${title}">Titel</h2>
        <div class="cz-carousel cz-controls-static cz-controls-outside">
            <div class="cz-carousel-inner"
                 data-carousel-options='{"items": 3, "nav": false,
           "responsive": {
             "0":{"items":1},
             "500":{"items":2, "gutter": 18},
             "768":{"items":3, "gutter": 20},
             "1100":{"items":4, "gutter": 22},
             "1500":{"gutter": 24}
           }
         }'>
                <div th:each="event:${events}">

                    <!--/*@thymesVar id="event" type="com.itcareer.app.domain.Event"  */-->  <!--/* //NOSONAR */-->

                    <a rel="noopener"
                       th:href="@{/events/{id}(id=${event.getSlug()})}">
                        <div class="d-flex align-items-center" style="height:150px;  justify-content: center;">
                            <img style="max-height:150px;" class="lazyload" th:data-src="${event.getImage()}"
                                 th:alt="${event.getName()}" alt="Event">
                        </div>
                        <p class="landing-page-carousel-title pt-3" th:text="${event.getName()}">The Web Developer
                            Bootcamp</p>

                        <!--/* Date */-->
                        <p class="landing-page-carousel-date" th:with="onlyFrom=${event.getDateTo() == null},
                sameMonth=${event.getDateTo() != null && event.getDateFrom().getMonth() == event.getDateTo().getMonth()},
                sameDay=${event.getDateTo() != null && sameMonth && event.getDateFrom().getDayOfMonth() == event.getDateTo().getDayOfMonth()}">

                            <!--/* If months are the same do not show from Month */-->
                            <span th:if="${sameMonth && !sameDay}"
                                  th:text="${#temporals.format(event.getDateFrom(), 'dd')}"/>

                            <!--/* If months are not the same show date from Month */-->
                            <!--/* If there is only from date show it with Month */-->
                            <span th:if="${sameDay || !sameMonth || onlyFrom}"
                                  th:text="${#temporals.format(event.getDateFrom(), 'dd MMM')}"/>

                            <!--/* If there is to date show it */-->
                            <span th:if="${!onlyFrom && !sameDay}"
                                  th:text="${ ' - ' +  #temporals.format(event.getDateTo(), 'dd MMM')}"/>

                            <!--/* If date is in next year show it */-->
                            <span th:if="${   #dates.format(#dates.createNow(), 'yyyy') != #temporals.format(event.getDateFrom(), 'yyyy') }"
                                  th:text="${ #temporals.format(event.getDateFrom(), 'yyyy') }"/>
                        </p>

                        <p class="landing-page-carousel-date">
                            <span th:if="${event.getCity()}" th:text="${event.getCity()}"/>
                            <span th:if="${event.getCity() != null && event.getCountry() != null}" th:text="'/'"/>
                            <span th:if="${event.getCountry()}" th:text="${event.getCountry()}"/>
                        </p>
                        <p class="landing-page-carousel-vendor" th:text="${event.getType()}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>