<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--/* Course card (List) */-->

<div th:fragment="courseList(courses)">

    <div th:each="course:${courses.getCourses()}" class="card product-card product-list">

        <!--/*@thymesVar id="courses" type="com.itcareer.app.serp.SearchResult"  */-->  <!--/* //NOSONAR */-->

        <div class="d-sm-flex align-items-center">

            <!--/* Image */-->
            <a class="product-list-thumb d-none d-sm-block col-sm-3 col-xl-2 text-center" th:href="${course.getUrl()}"
               target="_blank" rel="noopener noreferrer">
                <img th:src="${course.getImageUrl()}" alt="Product">
            </a>
            <div class="card-body py-2">

                <!--/* Vendor */-->
                <a type="button"
                   style="float:right; background-color: transparent; max-width: 100px; border-color: transparent;"
                   th:href="${course.getVendor().getUrl()}" target="_blank" class="d-none d-sm-block" rel="noopener noreferrer">
                    <img th:src="${course.getVendor().getLogoUrl()}" th:alt="${course.getVendor().getName()}"
                         alt="Vendor logo">
                </a>

                <!--/* Author */-->
                <!--/*  When small to author add vendor name  like "Reanto Ivancic / ITShelf" and remove vendor logo, this text is the clickable */-->
                <a class="product-meta d-none d-sm-block font-size-xs pb-1"
                   th:text="${course.getDisplayAuthor()}">
                </a>
                <a class="product-meta d-block d-sm-none font-size-xs pb-1" th:href="${course.getVendor().getUrl()}" target="_blank" rel="noopener noreferrer"
                   th:text="${course.getAuthorWithVendor()}">
                </a>

                <!--/* Course title */-->
                <h2 class="product-title font-size-base">
                    <a th:href="${course.getUrl()}" th:text="${course.getName()}" target="_blank"></a>
                </h2>

                <!--/* Headline */-->
                <p th:text="${course.getHeadline()}" class="d-sm-block"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>