<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--/* Event card (List) */-->
<div th:fragment="eventList(events)">

    <div th:each="event:${events.getEvents()}" class="card product-card product-list d-none">

        <!--/*@thymesVar id="event" type="com.itcareer.app.domain.Event"  */-->  <!--/* //NOSONAR */-->

        <div class="d-sm-flex align-items-center">

            <!--/* Image */-->
            <a class="product-list-thumb d-none d-sm-block col-sm-3 col-xl-2 text-center" th:href="@{/events/{id}(id=${event.getSlug()})}">
                <span th:if="${event.isFree()}" class="badge badge-info badge-shadow free">Free</span>
                <img th:src="${event.getImage()}" alt="Product">
            </a>
            <div class="card-body py-2">

                <!--/* Course title */-->
                <h2 class="product-title font-size-base">
                    <a th:href="@{/events/{id}(id=${event.getSlug()})}" th:text="${event.getName()}"></a>
                </h2>

                <!--/* Date */-->
                <p th:with="onlyFrom=${event.getDateTo() == null},
                sameMonth=${event.getDateTo() != null && event.getDateFrom().getMonth() == event.getDateTo().getMonth()},
                sameDay=${event.getDateTo() != null && sameMonth && event.getDateFrom().getDayOfMonth() == event.getDateTo().getDayOfMonth()}">

                    <!--/* If months are the same do not show from Month */-->
                    <span th:if="${sameMonth && !sameDay}"
                          th:text="${#temporals.format(event.getDateFrom(), 'dd')}" />

                    <!--/* If months are not the same show date from Month */-->
                    <!--/* If there is only from date show it with Month */-->
                    <span th:if="${sameDay || !sameMonth || onlyFrom}"
                          th:text="${#temporals.format(event.getDateFrom(), 'dd MMM')}" />

                    <!--/* If there is to date show it */-->
                    <span th:if="${!onlyFrom && !sameDay}" th:text="${ ' - ' +  #temporals.format(event.getDateTo(), 'dd MMM')}" />

                    <!--/* If date is in next year show it */-->
                    <span th:if="${   #dates.format(#dates.createNow(), 'yyyy') != #temporals.format(event.getDateFrom(), 'yyyy') }"
                          th:text="${ #temporals.format(event.getDateFrom(), 'yyyy') }" />
                </p>

                <!--/* Place */-->
                <p th:if="${!#strings.isEmpty(event.getCity()) || !#strings.isEmpty(event.getCountry())}">
                <span  th:if="${event.getCity()}" th:text="${event.getCity()}" />
                <span  th:if="${#strings.isEmpty(event.getCity()) && #strings.isEmpty(event.getCountry())}" th:text="'/'" />
                <span  th:if="${event.getCountry()}" th:text="${event.getCountry()}" />
                </p>

                <p th:text="${event.getType()}" />

                <!--/* Keywords */-->
                <div  style="max-width: 700px; display: flex; flex-flow: wrap; line-height: 19px" class="keywords-collection">
                    <span th:each="keyword:${event.getArrayOfKeywords()}" th:text="${keyword}" >keyword</span>
                </div>
                <p class="event-data" th:data-event-free="${event.isFree()}" th:data-event-type="${event.getType()}" ></p>
            </div>
        </div>
    </div>

    <!--/* Pagination */-->
    <nav class="justify-content-between pt-2 mb-3 d-none navigation" aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="javascript:void(0)"><i aria-hidden="true" class="czi-arrow-left mr-2"></i>Prev</a></li>
        </ul>
        <ul class="pagination">
            <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
            <li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:void(0)">1</a></li>
        </ul>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next">Next<i class="czi-arrow-right ml-2" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
</div>


</body>
</html>